/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
//
// Color theme
//
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/

::-webkit-scrollbar {
   display: none;
}

/* Light root */
:root {
   --txt-color: #222;
   --bg-color: #fff;
   --msg-bg-color: #f6f6f6;
   --msg-othr-bg: #FFFCF4;
   --msg-your-bg: #E1FFF3;
   --img-bg: #f4a460;
}

/* Dark root */
/* :root {
   --txt-color: #f8f8f8;
   --bg-color: #222;
   --msg-bg-color: #111;
   --msg-othr-bg: #523C00;
   --msg-your-bg: #004328;
} */

/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
//
// Actual Chatbox
//
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/

.chatbox {
   position: fixed;
   bottom: 0;
   right: 0;
   height: 100vh;
   width: 100vw;
   background-color: var(--bg-color);
   font-size: 4vh;
   font-family: "Nunito";
   color: var(--txt-color);
   box-shadow: 0 0 .3vh #00000020;
   overflow: auto;
}

.chat-menu-icon {
   float: right;
   margin: 2vh 1vh;
   /* background: linear-gradient(to bottom right, #FFF45A, #FF9C5A); */
   /* background: linear-gradient(to bottom right, #5AFFF3, #5AC7FF); */
   /* background: linear-gradient(to bottom right, #5aff86, #5ae9ff); */
   /* background: linear-gradient(to bottom right, #94ff5a, #68ff5a); */
   /* background: linear-gradient(to bottom right, #a25aff, #e15aff); */
   /* background: linear-gradient(to bottom right, #ffa45a, #ff705a); */
   background: linear-gradient(to bottom right, #ffc963, #fa8d46);
   -webkit-background-clip: text;
   -webkit-text-fill-color:transparent;
   background-clip: text;
   font-size: 6vh;
   line-height: 1;
}


/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
//
// Menu: switchchat
//
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/

.menu-switchchat {
   position: absolute;
   top: 0;
   right: 100vw;
   height: 80vh;
   width: 100vw;
   padding: 10vh 2vh;
   background-color: #fefefe;
   overflow: auto;
   transition: .2s;
}

/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
//
// Menubar
//
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/

/* Toggle Image */
.chat-close-img {
   height: 8vh;
}
 
/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
//
// Other
//
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/

.messages {
   margin: 0 0 10vh 0;
}

.message {
   position: relative;
   padding: 2vh;
   margin: .05rem;
   max-width: 100vw;
   background-color: #eee;
}

.message .image, .message .image-right {
   height: 4rem;
   width: 4rem;
   margin: .5rem;
   border-radius: 100%;
   background-color: var(--img-bg);
}

.message .message-bubble {
   font-size: 2.5vh;
   background-color: var(--msg-othr-bg);
   border-radius: 2vh;
   padding: 1.5vh;
   text-align: left;
}

.msg-cols {
   display: grid;
   grid-template-columns: 5rem auto;
}

.message-right .message-bubble {
   font-size: 2.5vh;
   background-color: var(--msg-your-bg);
   border-radius: 2vh;
   padding: 1.5vh;
   text-align: left;
}
  
.chat-title {
   text-align: center;
   padding-bottom: .5vh;
   margin: .5vh;
}

.time {
   font-size: 2vh;
   color: #6A6C6E;
}

/*
D7FFEF
BAFFE4
*/

/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
//
// Edit Messages
//
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/

.chat-edit-img:hover {
   transform: scale(1.25) translate(0, -.5vh);
}

.chat-edit-message {
   width: 100%;
   min-height: 0;
   max-height: 0;
   overflow: hidden;
   background-color: #fcfcfc;
   border-radius: 1vh;
   transition: .2s;
}

.chat-edit-message.open {
   padding: 1.5vh;
   min-height: 12vh;
   max-height: 40vh;
}

.edit-message-input {
   width: 100%;
   padding: 1.5vh;
   font-size: 2.5vh;
   background-color: #f6f6f6;
   border: none;
   border-radius: 1vh;
   font-family: "Nunito", sans-serif;
   resize: none;
   box-sizing: border-box;
   margin-bottom: -3vh;
}
  
.edit-message-input:focus { outline: none; }

.edit-msg {
   width: 100%;
   display: grid;
   grid-template-columns: auto auto;
}

.edit-msg button {
   padding: 1.5vh;
   border: none;
   border-radius: 1vh;
   transition: .2s;
}

.edit-msg button:hover { background-color: #ddd; }

.edit-msg .save-msg {
   width: 100%;
   font-size: 2.5vh;
   background-color: #f6f6f6;
}

.edit-msg .delete-msg span {
   color: #f8f8f8;
   font-size: 8vh;
}

.edit-msg .delete-msg {
   margin: -3vh 0 0 2vh;
   height: calc(100% - 1vh);
   background-color: #e25050;
}

.edit-msg .delete-msg:hover { background-color: #c22d2d; }

/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
//
// Dynamic hover
//
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/

.dynamicHover {
   background-color: #fff;
   padding: .6vh 1vw;
   font-family: "Nunito";
   border-radius: 2vh;
   font-size: 3.2vh;
   color: #2b2b2b;
   transition: opacity .1s;
   opacity: 0;
   box-shadow: 0 0 .2vh #eee;
}